/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #85c9ff, #d9f3ff),
        url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/037/original/sunny_photo.jpg?1732184632") no-repeat center center fixed;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: #85c9ff;
    /* Fallback color */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    /* Allow scrolling if content exceeds viewport */

    /* Animation for dynamic background */
    animation: moveClouds 30s linear infinite;
    transition: background 1s ease-in-out;
    backdrop-filter: blur(2px);
    /* Subtle blur for better readability */
    color: #fff;
    /* Default text color for better contrast */
}

/* Accessibility Improvements */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    /* Slightly darker overlay for improved readability */
    z-index: -1;
}

/* Enhanced link styles */
a {
    color: #7c50ec;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #004080;
}


/* Weather App Container */
.weather-app {
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    margin: 48px auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: fadeIn 1.2s ease-in-out;
}

/* Header */
.header {
    padding: 25px 35px;
    background: linear-gradient(to right, #4facfe, #6ac2ff);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px 0 0;
}

/* Form and Input */
.search-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 15px 20px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.search-input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

.search-button {
    padding: 15px 30px;
    font-size: 16px;
    margin-left: 6px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.search-button:hover {
    background: #007bff;
    transform: scale(1.05);
}

/* Main Section */
.current-weather {
    position: relative;
    padding: 30px 20px;
    background: linear-gradient(to bottom, rgba(9, 132, 227, 0.7), rgba(0, 184, 148, 0.8));
    color: #fff;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.weather-overlay {
    position: relative;
    z-index: 10;
}

.current-city {
    font-size: 35px;
    color: #333;
    margin-bottom: 25px;
    line-height: 45px;
    font-weight: 700;
}

.current-details {
    color: #666;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    opacity: 0.9;
    font-weight: 500;
}

.current-details strong {
    color: #ff7f50;
}

.current-temperature {
    color: #fff;
    margin-top: 20px;
    font-size: 48px;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.current-temperature-value {
    font-size: 48px;
    font-weight: bold;
    line-height: 85px;
    margin-right: 8px;

}

.current-temperature-unit {
    font-size: 32px;
    color: #333;
    margin-top: 6px;
}

.weather-icon {
    font-size: 64px;
    margin-bottom: 10px;
}


/* Forecast Section */
.weather-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    padding: 15px 20px;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, rgba(9, 132, 227, 0.7), rgba(0, 184, 148, 0.8));
    margin-top: 20px;
    border-top: 1px solid #ddd;
}


.forecast-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.weather-forecast-day {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.weather-forecast-icon {
    font-size: 32px;
    color: #00f2fe;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #333;
}

.weather-forecast-temperatures span {
    font-weight: normal;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

/* Footer */
footer {
    padding: 15px 20px;
    color: black;
    background: rgba(9, 132, 227, 0.7);
    font-size: 15px;
    line-height: 1.5;
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #74b9ff;
}

/* Animations */
/* Keyframes for Moving Clouds Animation */
@keyframes moveClouds {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}


/* Reduce Animation for Accessibility */
@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Responsive Styles */

/* Phones */
@media (max-width: 480px) {
    .weather-app {
        margin: 20px;
        padding: 20px;
    }

    .search-input {
        width: calc(100% - 90px);
        font-size: 14px;
    }

    .search-button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .current-city {
        font-size: 28px;
    }

    .current-temperature-value {
        font-size: 60px;
    }

    .current-details {
        font-size: 14px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    body {
        background-size: auto;
        animation: none;
        /* Disable animation for performance */
    }

    .weather-app {
        max-width: 500px;
        margin: 30px auto;
        padding: 25px;
    }

    .search-input {
        font-size: 15px;
    }

    .search-button {
        font-size: 15px;
        padding: 12px 25px;
    }

    .current-city {
        font-size: 32px;
    }

    .current-weather {
        flex-direction: column;
        text-align: center;
    }

    .current-temperature-value {
        font-size: 70px;
    }

    .weather-forecast {
        justify-content: space-around;
    }

    .forecast-item {
        width: 90%;
    }
}


/* Large Screens */
@media (min-width: 1024px) {
    .weather-app {
        max-width: 700px;
    }

    .current-city {
        font-size: 38px;
    }

    .current-temperature-value {
        font-size: 90px;
    }
}